@font-face {
  font-family: "Inter Variable";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: "PlayFair Display";
  src: url("../fonts/PlayfairDisplay-SemiBoldItalic.ttf");
}

* {

  --lightmode-color-dark:#000;
  --lightmode-color-background: #fff;
  --lightmode-color-text: var(--lightmode-color-dark);

  --lightmode-color-projects: #B5FFCE;
  --lightmode-color-learning-journal: #FFFA89;
  --lightmode-color-we-love-web:#FFB5F3;
  --lightmode-color-about-me:#C4B5FF;
  --lightmode-color-layout:#EBFF00;
  --lightmode-color-hyperlink:#0015ff;
  --lightmode-color-hyperlink-visited:#000d9e;
  --lightmode-color-rainbow-gradient: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(249,255,0,1) 25%, rgba(8,129,255,1) 50%, rgba(150,0,255,1) 75%, rgba(252,0,255,1) 100%);
  
  --average-padding: 2em;

  --markdown-heading-margin-block:.6em;
  --markdown-h1-font-size:4em;
  --markdown-h2-font-size:3em;
  --markdown-h3-font-size:2em;


  --font-family:"Inter Variable", Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
  font-weight: 400;
}

.cursive {
  font-family: "PlayFair Display", serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  unicode-bidi: isolate;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --h1-font-size: 8em;
  --h2-font-size: 4em;
  font-weight: 700;
}

h1 {
  font-size: var(--h1-font-size);
}

a {
  cursor: pointer;
  text-decoration: none;
  color: var(--lightmode-color-hyperlink);

}

a:visited,
a:active {
  color: var(--lightmode-color-hyperlink-visited);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5 {
  margin-block: var(--markdown-heading-margin-block);
}

.markdown h1 {
  font-size: var(--markdown-h1-font-size);
}

.markdown h2 { 
  font-size: var(--markdown-h2-font-size);
}

.markdown h3 {
  font-size: var(--markdown-h3-font-size);
}

.markdown ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: var(--average-padding);
    margin-inline-end: var(--average-padding);
    padding-inline-start: 0;
    unicode-bidi: isolate;
}