@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter_28pt-Regular.ttf");
}

@font-face {
  font-family: "PlayFair Display";
  src: url("../fonts/PlayfairDisplay-SemiBoldItalic.ttf");
}

* {

  --lightmode-color-black:#000;
  --lightmode-color-background: #fff;
  --lightmode-color-text: var(--lightmode-color-black);

  --lightmode-color-projects: #B5FFCE;
  --lightmode-color-learning-journal: #FFFA89;
  --lightmode-color-we-love-web:#FFB5F3;
  --lightmode-color-about-me:#C4B5FF;
  --lightmode-color-layout:#EBFF00;

  --average-padding: 2em;

  --lightmode-color-rainbow-gradient: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(249,255,0,1) 25%, rgba(8,129,255,1) 50%, rgba(150,0,255,1) 75%, rgba(252,0,255,1) 100%);

  --font-family:"Inter", Arial, Helvetica, sans-serif;
  font-family: var(--font-family);
}

.cursive {
  font-family: "PlayFair Display", serif;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --h1-font-size: 8em;
  --h2-font-size: 4em;
  font-weight: 700;
}

h1 {
  font-size: var(--h1-font-size);
}

a {
  cursor: pointer;
}