---
import { Layout, Archive, Intro, Details, ReadMarkdown } from '../../index.js';

let markdownSlug = 'justus-babbel-user-needs'
const filePath = 'src/markDown/' + markdownSlug + '.md';
const markdownContent = ReadMarkdown(filePath)  || undefined;  // Fetch and convert markdown
const data = Archive.archive[1];  // Assuming `data` is set correctly
---

<Layout>
  <section>
    <Intro {data}/>
    <Details {data} markdownContent={markdownContent} />
  </section>
</Layout>

<style>
    * {
    background: var(--lightmode-color-learning-journal);
  }

</style>
