---
import { Layout, Intro, Details, Archive } from '../../index.js';
const data = Archive.archive[0]

---

<Layout>
  <section>
    <Intro {data} />
    <Details {data} />
  </section>
</Layout>

<style>
  section {
  background: var(--lightmode-color-projects);
  width: 100vw;
  position: relative;
}
</style>