---
import { Layout, Archive, Intro, Details  } from '../../index.js';
const data = Archive.archive[0]
---

<Layout>
  <section>
    <Intro {data}/>
    <Details {data} />
  </section>
</Layout>

<style>
    * {
    background: var(--lightmode-color-projects);
  }
</style>